* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  color: black;
}

h2, p {
  text-align: center;
}

img {
  height: 200px;
  width: auto;
}

.page-title {
  font-family: 'Calligraffitti', cursive;
  margin-top: 10%;
}

.dark-mode {
  background-color: black;
  color: white;
}

.toggle-button {
  border-radius: 10%;
  height: 30px;
}

.toggle-button-li {
  list-style-type: none;
}