* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  color: black;
}

p {
  margin: 10%;
}

h2, p {
  text-align: center;
}

img {
  height: 200px;
  width: auto;
}

ul {
  list-style-type: none;
}

.page-title {
  font-family: 'Calligraffitti', cursive;
  margin-top: 10%;
}

.dark-mode {
  background-color: black;
  color: white;
}

.toggle-button {
  background-color: black;
  color: white;
  border: 0;
  height: 30px;
}

.toggle-button-li {
  list-style-type: none;
}

.toggle-button-light {
  background-color: white;
  color: black;
}

.footnotes {
  display: flex;
  justify-content: space-around;
}

.links {
  margin: 7px;
}

.hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.hamburger:hover, .hamburger:focus {
  box-shadow: none;
  outline: none;
}

.hamburger-menu {
  width: 30px;
  height: 3px;
  background-color:black;
  margin: 6px 0;
}

.hamburger-menu-light {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}


@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
    flex-direction: column;
  }

  .navigation-list.show {
    display: flex;
  }

  .hamburger {
   display: block;
   margin-left: 80%;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: none;
  }
}